@using Dominio.Entidades;
<h1>Ingreso al sistema</h1>
<h2 class="d-inline">Bienvenido, </h2>
<h2 class="d-inline text-primary">@ViewBag.Nombre</h2>
<hr />
@if (ViewBag.mensaje != null)
{
	<div class="alert alert-success" role="alert">
		@ViewBag.mensaje
	</div>
}

@if (ViewBag.Rol == "Administrador")
{
    <!-- Contenido específico para el administrador -->
    <a class="btn btn-outline-dark" href="/Publicacion/VistaAdmin">Ver Subastas</a>
    <a class="btn btn-outline-danger" href="/Login/LogOut">Logout</a>
}
else if (ViewBag.Rol == "Cliente")
{
    <!-- Contenido específico para el cliente -->
    <a class="btn btn-outline-dark" href="/Publicacion/Index">Ver Publicaciones</a>
    <a class="btn btn-outline-dark" href="/Usuario/RecargarSaldo">Cargar Saldo</a>
    <a class="btn btn-outline-danger" href="/Login/LogOut">Logout</a>
}
 

