@using Dominio.Entidades;
<h1>Ingreso al sistema</h1>
<h2>Bienvenido @ViewBag.Mail </h2>



@if (ViewBag.Rol == "Administrador")
{
    <h2>Funcionalidades de Administrador</h2>
    <!-- Contenido específico para el administrador -->
    <a href="/Admin/ManageUsers">Gestionar Usuarios</a>
    <a href="/Admin/Reports">Ver Reportes</a>
}
else if (ViewBag.Rol == "Cliente")
{
    <h2>Funcionalidades de Cliente</h2>
    <!-- Contenido específico para el cliente -->
    <a href="/Client/ViewPurchases">Ver Compras</a>
    <a href="/Client/Profile">Mi Perfil</a>
}

