@using Dominio.Entidades;
<h1>Ingreso al sistema</h1>
<h2>Bienvenido @ViewBag.Nombre </h2>
<hr />
@if (ViewBag.mensaje != null)
{
	<div class="alert alert-success" role="alert">
		@ViewBag.mensaje
	</div>
}

@if (ViewBag.Rol == "Administrador")
{
    <h2>Funcionalidades de Administrador</h2>
    <!-- Contenido específico para el administrador -->
    <a href="/Admin/ManageUsers">Gestionar Usuarios</a>
    <a href="/Admin/Reports">Ver Reportes</a>
}
else if (ViewBag.Rol == "Cliente")
{
    <h2>Funcionalidades de Cliente</h2>
    <!-- Contenido específico para el cliente -->
    <a class="btn btn-outline-dark" href="/Publicacion/Index">Ver Publicaciones</a>
    <a class="btn btn-outline-dark" href="/Publicacion/Index">Cargar Saldo</a>
    <a class="btn btn-outline-danger" href="/Publicacion/Index">Logout</a>
}
 

