@using Dominio.Entidades
@model Cliente

@if (ViewBag.mensaje != null)
{
	<div class="alert alert-danger" role="alert">
		@ViewBag.mensaje
	</div>
}

<h1>Registrese</h1>
<form method="post">
	<input type="text" name="nombre" placeholder="Ingrese nombre"  value="@Model.Nombre"/>
	<input type="text" name="apellido" placeholder="Ingrese apellido" value="@Model.Apellido" />
	<input type="text" name="mail" placeholder="Ingrese mail" value="@Model.Mail" />
	<input type="text" name="contrasenia" placeholder="Ingrese contraseña" />
	<button type="submit">Registrar</button>
</form>