@using Dominio.Entidades;

<h1>Recargue su bolsillito!</h1>

@if (ViewBag.mensaje != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.mensaje
    </div>
}

<form method="post">
    <input type="number" name="montoRecarga" placeholder="Ingrese monto" value="montoRecarga">
    <button type="submit">Recargar</button>
</form>