@using Dominio.Entidades;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Registro Exitoso</h1>
<p>El usuario @ViewBag.Nombre ha sido registrado correctamente.</p>
<form action="/usuario/Index">
    <button type="submit">Volver al inicio</button>
</form>
